# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'éditeur
.vscode/
.idea/
*.swp
*.swo

# Fichiers temporaires
*.tmp
*.log

# Dépendances Node.js (si vous en ajoutez plus tard)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers de build
dist/
build/
